body{
    color:rgb(19, 15, 15);
    background: paleturquoise;
    background-image: url("colorful-alphabet.png");
    background-position: top center;
    background-size: contain;
    background-blend-mode: saturation;
    margin: 2em 5em;
    display: block;
    box-shadow:12px 10px rgb(200, 242, 243), -12px -10px rgb(200, 242, 243);
}
a{
    color:blue;
}
h1{
    color:rgb(61, 61, 61);
    background:rgb(143, 238, 238);
    border: 0.5em double aquamarine;
}
h2{
    color:rgb(61, 61, 61);
}